<!DOCTYPE html>
<html lang="en" ng-app="SimpleRESTClient">
<head>
    <title>Simple REST Client</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="app.css" media="screen" />
</head>
<body>

<div id="loader-fill">
    <div id="loader"><img src="res/img/loader.gif" alt="Loading.."/></div>
</div>
<request-history></request-history>
<view-tabs></view-tabs>

<div class="container request-content">
    <div class="" ng-controller="RequestCtrl as rc">

        <div id="headerSection">
            <div class="row">
                <h2>Headers</h2>
            </div>

            <div class="row" style="margin-top: 5px;" ng-repeat="header in headers">
                <div class="col-md-1"><a ng-click="removeHeader($index)" class="btn remove-button" style="text-align: right;">X</a></div>
                <div class="col-md-5"><input type="text" class="form-control" ng-model="header.name"/></div>
                <div class="col-md-5"><input enter-aware type="text" class="form-control" ng-model="header.value"/></div>
                <div class="col-md-1"><span class="glyphicon glyphicon-pushpin btn pin-button" ng-class="{true:'pin-button-selected', false:''}[header.pinned==1]" ng-click="togglePinnedHeader($index)"></span></div>
            </div>

            <div class="row" style="margin-top: 5px;">
                <a ng-click="addHeader();" class="btn btn-primary">Add Header</a>
            </div>
        </div>

        <hr/>

        <div class="requestSection">

            <div class="row">
                <h2>Request Body</h2>
            </div>

            <json-template json="requestBody" parent="None" obj-type="dict"></json-template>
        </div>


        <div class="row" style="height: 150px;"><!--spacer--></div>

        <div class="bottom-bar">
            <div class="row">
                <div class="col-md-2">
                    <h5>Request Menu</h5>
                </div>
                <div class="col-md-4 col-md-offset-6">
                    <!-- empty? -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <input class="form-control" ng-model="requestURL" type="text" placeholder="ReSTful endpoint"/>
                </div>
                <div class="input-group col-md-3">
                    <input class="form-control" ng-model="requestMethod" type="text" placeholder="HTTP Method" />
                    <span class="input-group-btn">
                        <button class=" btn btn-primary" ng-click="sendRequest()">Do it</button>
                    </span>
                 </div>
            </div>
        </div>
    </div>

    <div class="" ng-controller="ResponseController as rc">
        {{ responseHeaders }}
        <br/>
        {{ response }}
    </div>
</div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="app.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/bootstrap/js/dropdown.js"></script>
  <script src="bower_components/bootstrap/js/tab.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
